#image-card {
  width: 100%;
  padding-top: 100%;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &.image-hide {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  &.image-show {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
}
